* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Heebo', sans-serif;
    color: #21243D;
}

/* 
header {

}
 */

/* контейнер сторінки індекс */
.container {
    max-width: 860px;
    margin: 0 auto;
}

h1 {
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;   
}

h2 {
    font-weight: 500;
    font-size: 30px;
    line-height: 44px;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
}

h3 a {
    text-decoration: none;
    color: #21243D;
}


/* закінчення загальних стилів */

/* початок стилів хедер */

.menu {
    display: flex;
    justify-content: flex-end;
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 45px;
    margin-bottom: 100px;
}

.menu a {
    padding:  15px;
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.about-user {
    display: flex;
    justify-content: space-between;
    border-top: 34px solid #C4C4C4;
}

.about-user div {
    width: 500px;
}

.about-user img {
    width: 243px;
    height: 243px;
}

.btn {
    background: #FF6464;
    border-radius: 2px;
    border: none;
    color: white;
    font-size: 20px;
    padding: 12px 20px;
    margin-top: 35px;
    cursor: pointer;
}

/* кінець стилів хедер */

/* початок опису стилів сторінки блог */

/* контейнер сторінки блог */
.blog-container {
    max-width: 680px;
    margin: 0 auto;
}

.date-blog {
    width: 375px;
    display: flex;
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
}

.date {
    border-right: 1px solid #000000;
    padding-right: 20px;
}

.point {
    color: #8695A4;
    margin-left: 20px;
}

.h2-title {
    margin: 0;
    margin-bottom: 12px;
}

.h1-blog {
    margin: 0;
    margin-bottom: 50px;

}

.blog-title {
    border-bottom: 1px solid #E0E0E0;
    padding-bottom: 28px;
    margin-bottom: 30px;
}

.menu .active {
    color: #FF6464;
}

/* кінець опису стилів сторінки блог */

/* меню бургер */

.burger {
    width: 30px;
    height: 20px;
    margin-left: auto;
    display: none;
    border: none;
    background-image: url('images/menu.svg');
    background-color: transparent;
    cursor: pointer;
}

/* адаптивний варіант для головної сторінки та блогу*/

@media (max-width: 768px) {
    .about-user {
        flex-direction: column;
        align-items: center;
        border: none;
    }

    .about-user div {
        order: 1;
        text-align: center;
        width: auto;
    }

    .about-user img {
        width: 175px;
        height: 175px;
        margin-bottom: 50px;
        box-shadow: -3px 10px 0 #EDF7FA;
        border-radius: 50%;
    }

    .burger {
        display: block;
    }

    h1 {
        font-size: 32px;
        line-height: 40px;
        
    }

    p {
        font-size: 16px;
        line-height: 24px;
        
    }

    .menu a {
        display: none;
    }

    .menu {
        padding-top: 20px;
        margin-bottom: 34px;
    }

    .blog-container {
        max-width: 339px;   
    }

    .h1-blog {
        font-size: 30px;
        line-height: 60px;
        margin-bottom: 24px;
    }

    .h2-title {
        font-size: 26px;
        line-height: 38px;
    }

    .date-blog {
        font-size: 16px;
        line-height: 24px;
        width: 275px;
        margin-bottom: 17px;

    }

    .point {
        margin-left: 16px;
    }

    .date {
        padding-right: 16px;
    }

    .blog-title {
        padding-bottom: 24px;
        margin-bottom: 18px;
    }
}

/* частина робіт на головній сторінці та окрема сторінка роботи */



.work {
    /* border: 2px solid blue; */
    display: flex;
    border-bottom: 1px solid #E0E0E0;
    padding-bottom: 30px;
    margin-bottom:  30px;
}

.work img {
    border-radius: 2px;
    width: 250px;
    height: 185px;
    margin-right: 18px;
}

h3 {
    font-size: 30px;
    line-height: 44px;
}

.work h3 {
    margin-top: 0;
    margin-bottom: 16px;
}

.badge {
    background-color: #142850;
    color: #FFFFFF;
    font-weight: 900;
    font-size: 18px;
    /* line-height: 60px; */
    border-radius: 16px;
    padding: 0px 10px;
}

.work p {
    margin-top: 25px;
    font-size: 16px;
    line-height: 24px;
}

.title-works {
    font-size: 22px;
    line-height: 60px;
    font-weight: 400;
}

.page-works {
    font-size: 44px;
    line-height: 60px;
    margin-bottom: 25px;
}

.work-container {
    max-width: 860px;
    margin: 0 auto;
}

.visible-work {
    display: none;
}


/* адаптив для воркс та окремої сторінки робіт*/

@media (max-width: 768px) {

    .featured-works {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .title-works {
        font-size: 18px;
        text-align: center;
    }

    .work {
        flex-direction: column;
        width: 345px;
    }

    .work img {
        width: 100%;
        margin-bottom: 10px;
    }

    .work h3 {
        font-size: 24px;
        line-height: 30px;
    }

    .page-works {
        font-size: 30px;
        margin-bottom: 18px;
    }

    .work-container {
        max-width: 339px;
    }

    .work {
        padding-bottom: 20px;
        margin-bottom:  20px;
    }

    .visible-any-work {
        display: none;
    }
}

/* кінець сторінки робіт та адаптиву */

/* сторінки статей чи робіт */

.article-page h1 {
    font-size: 34px;
    line-height: 50px;
    max-width: 500px;
}

.article-container {
    max-width: 681px;
    margin: 0 auto;
}

.article-badge {
    background: #FF7C7C;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
    border-radius: 16px;
    padding: 0 10px;
    margin-right: 17px;
    margin-bottom: 25px;
    display: inline-block;
}

.artilce-topic {
    font-size: 20px;

}

.article-page img {
    width: 100%;
    margin-bottom: 27px;
}

.article-page h2 {
    font-size: 30px;
    font-weight: bold;

}

.article-page h3 {
    font-size: 24px;
}

.article-page p {
    margin-bottom: 35px;
}


/* адаптив сторінок робіт */

@media (max-width: 768px) {

    .article-page h1 {
        font-size: 30px;   
    }
    
    .article-container {
        max-width: 339px;
    }

    .artilce-topic {
        font-size: 18px;   
    }
    
    .article-page h2 {
        font-size: 26px;
    }
    
    .article-page h3 {
        font-size: 20px;
    }
   

}

footer {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

footer p {
    font-size: 14px;
}

.social {
    width: 230px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    

}

.social a {
    width: 30px;
    height: 30px;
    margin-bottom: 25px;
}

.icons {
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.fb {
    background-image: url('images/social/fb.svg');
}

.inst {
    background-image: url('images/social/inst.svg');
}

.tw {
    background-image: url('images/social/tw.svg');
}

.in {
    background-image: url('images/social/linkedin.svg');
}